<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.JUNotes"
        tools:targetApi="31">
        <activity
            android:name=".Admin.Activities.Projects.Admin_CreateAndUpdateProjectActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.Projects.Admin_ShowProjects"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.Notes.Admin_CreateAndUpdateYear"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.Notes.Admin_ShowYearsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.Notes.Admin_CreateAndUpdateSubject"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.Notes.Admin_CreateAndUpdateNoteActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.Notes.Admin_ShowNotesActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.Notes.Admin_ShowSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activities.Admin_HomeActivty"
            android:exported="false" />
        <activity
            android:name=".User.Activities.ProgrammingTut.TutorialDetailActivity"
            android:exported="false" />
        <activity
            android:name=".User.Activities.ProgrammingTut.ShowTutorial"
            android:exported="false" />
        <activity
            android:name=".User.Activities.ProgrammingTut.ShowLanguages"
            android:exported="false" />
        <activity
            android:name=".User.Activities.Projects.ShowProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".User.Activities.Projects.ProjectDetailActivity"
            android:exported="false" />
        <activity
            android:name=".User.Activities.Notes.NotesActivity"
            android:exported="false" />
        <activity
            android:name=".User.Activities.Notes.SubjectActivity"
            android:exported="false" />
        <activity
            android:name=".User.Activities.Support.SupportHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".User.Activities.TrackProgress.track_performance"
            android:exported="false" />
        <activity
            android:name=".User.Activities.Notes.ShowNote"
            android:exported="false" />
        <activity
            android:name=".Authenthication.Register"
            android:exported="false" />
        <activity
            android:name=".User.Activities.Activity_Home"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".Authenthication.Activity_Login"
            android:exported="false" />
        <activity
            android:name=".User.Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>